version: "3.9"

services:
  db:
    image: postgres:15
    container_name: job_tracker_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: job_tracker
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: job_tracker_api
    restart: always
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/job_tracker
      JWT_SECRET_KEY: super-secret-production-key-123456789012
    ports:
      - "5000:5000"

volumes:
  postgres_data:
